<template>
  <list class="list">
    <cell class="cell" v-for="number in lists">
      <div id="item_view" class="panel" v-on:click="toggle(number)">
        <text class="text">{{number}}</text>
      </div>
    </cell>
  </list>
</template>

<script>
export default {
props: ['lists', 'height', 'width']
}

</script>
<style scoped>
  .panel {
    width: 600px;
    height: 250px;
    margin-left: 75px;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-direction: column;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(162, 217, 192);
    background-color: rgba(162, 217, 192, 0.2);
  }
  .text {
    font-size: 50px;
    text-align: center;
    color: #41B883;
  }
</style>
