
<template>
  <samplewidget :lists="lists" :height="354" :width="600"></samplewidget>
</template>
<script>
  import _ from 'lodash';
  import samplewidget from './components/samplewidget.vue';

  const modal = weex.requireModule('modal1')
  const LOADMORE_COUNT = 10

  export default {
  components: { samplewidget},

    data () {
      return {
      lists:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
      //lists: _.get(weex, 'config.data_list')
      }
    },
    methods: {
      toggle(message) {
        modal.displayMsg(message)
      }

      // fetch (event) {
      //   modal.toast({ message: 'loadmore', duration: 1 })

      //   setTimeout(() => {
      //     const length = this.lists.length
      //     for (let i = length; i < length + LOADMORE_COUNT; ++i) {
      //       this.lists.push(i + 1)
      //     }
      //   }, 800)
      // }

    }
  }

</script>
